.dropdown
{
	position: relative;
	display: inline-block;
	margin-top: 5%;
	margin-left: 15%;
}

.dropdown-sandwich
{
	display: none;
	position: absolute;
	background-color: rgba(247, 223, 7, 0.832);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index:1;
}
.dropdown-burger
{
	display: none;
	position:absolute;
	background-color: rgba(247, 223, 7, 0.832);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index:1;
}

.dropdown:hover .dropdown-sandwich
{
	display: block;
}

.dropdown:hover .dropdown-burger
{
	display: block;
}

body
{
	background-color: rgba(211, 63, 0, 0.726);
}


h2
{
	font-style: italic;
	font-size: 50px;
	font-weight:bold;
	text-align: center;
}
